.temtem-list-container {
    width: 100%;
}

.tempedia-card {
    flex: 1;
    width: 150px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.tempedia-card-image {
    width: 100%;
    height: auto;
}

.temtem-row {
    margin-top: 30px;
    margin-right: 10px;
}

.temtem-type {
    flex-grow: 1;
    padding: 10px;
    text-align: center;
}

.temtem-type-image {
    width: 25px;
    height: 25px;
}

.temtem-list-search {
    margin: auto;
}